/*
    Color scheme 'Blue Teal Monochromatic' by Bidyut Bose
    Sourced from Adobe Color on 5 August 2024
*/

:root {
    --primary: #348888;
    --secondary: #2ABABB;
    --light: #9EF8EE;
    --action: #FA7F08;
    --danger: #F24405;
}

/*
    website font-family
*/

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-top: 5%;
    margin-bottom: 3%;
    color: var(--primary);
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 3%;
    margin-bottom: 2%;
    color: var(--secondary);
}

h3 {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    font-size: 1.1rem;
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 1.2;
}